<div class="nested-fields">
  <%= f.inputs do %>
      <%= f.input :shoe, :label => "Articulo", :input_html => {:class => "select_shoe"} %>
      <%= f.input :size,
                  :collection => [], :label => "Talle",
                  :input_html => {:class => "size_select"}%>
      <%= f.input :color, :collection => [], :label => "Color",
                        :input_html => {:class => "color_select"} %>
      <%= f.input :quantity, :label => "Pares" %>
      <%= link_to_remove_association 'eliminar producto', f %>
  <%- end -%>
</div>
