<section id="inner_content">
	<div class="form_page">
		<section class="form_header">
			<%= image_tag('logo_apelian_w80px_black.png', :class => "logo", :size => "78x46", :alt => "Apelian Shoe-Maker") %>
			<ul class="contact_data">
				<li>APELIAN <span>SHOE-MAKER /</span></li>
				<li>ADOLFO ALSINA 4082</li>
				<li>VILLA MARTELLI CP B1603ANR</li>
				<li>PCIA. DE BS. AS., ARGENTINA.</li>
				<li>TEL: 15-5005-3360</li>
			</ul><!-- .contact_data -->
			<p> 
				Este canal está orientado a revendedores, distribuidores que estén <br/> 
				interesados en comercializar nuestros productos. <br/>
				En cuáles de nuestros productos estaría interesado? Por favor, especifique <br/>
				artículo, color, talle y cantidad. Le responderemos a la brevedad.
			</p>
		</section><!-- .form_header -->	
		<section class="form_content">
			<h4>INGRESE SUS DATOS PARA INICIAR EL CONTACTO</h4>
          <%= semantic_form_for @order do |f| %>
              <%= f.inputs do %>
                  <%= f.input :razon_social %>
                  <%= f.input :cuit %>
                  <%= f.input :nombre %>
                  <%= f.input :apellido %>
                  <%= f.input :email %>
                  <%= f.input :email_confirm %>
                  <%= f.input :telefono %>
                  <%= f.input :celular %>
                  <%= f.input :calle %>
                  <%= f.input :nro %>
                  <%= f.input :piso %>
                  <%= f.input :depto %>
                  <%= f.input :provincia %>
                  <%= f.input :localidad %>
                  <%= f.input :codigo_postal %>
              <%- end -%>
              <%= f.buttons do %>
                  <%= f.commit_button "Continue  &rarr;" %>
              <%- end -%>
          <%- end -%>
		</section><!-- .form_content -->
		
		<section class="form_navigation">
		</section><!-- .form_navigation -->

	</div><!-- .page_1 -->

</section>