<div id="mufasa_00">
	<h1>Resumen de Pedido</h1>
	<p id="mufasa_01">
	  <%= link_to_function("IMPRIMIR", "javascript:print()") %>
	</p>
	<p id="mufasa_02">
	  Razon Social: <%= @order.razon_social %><br>
	  CUIT: <%= @order.cuit %><br>
	  Nombre: <%= @order.nombre %> <%= @order.apellido %><br>
	  Email: <%= @order.email %><br>
	  Tel: <%= @order.telefono %><br>
	  Cel: <%= @order.celular %><br>
	  Direccion: <%= @order.calle %> <%= @order.nro %> <%= @order.piso %> <%= @order.depto %><br>
	  Provincia: <%= @order.provincia %><br>
	  Localidad: <%= @order.localidad %><br>
	  CP: <%= @order.codigo_postal %><br>
	</p>
	
	<p>
	    <table id="mufasa_03">
	      <tr>
	        <th>Nro Art</th>
	        <th>Color</th>
	        <th>Talle</th>
	        <th>Cantidad</th>
	      </tr>
	      <% @order.order_details.each do |od| %>
	          <tr>
	            <td><%= od.shoe.article_number %></td>
	            <td><%= od.color.name %></td>
	            <td><%= od.sizes.map{|s|s.number}.join(', ') %></td>
	            <td><%= od.quantity %></td>
	          </tr>
	      <%- end -%>
	    </table>
	</p>
</div><!-- .container -->