<section id="inner_content">
	<ul id="shoe_reel">
      <%- if @previous_shoe.nil? -%>
        <%= render :partial => 'empty_box' %>
      <%- else -%>
        <li>
          <%= link_to(image_tag(@previous_shoe.photo_manual_thumb.url, :size => "124x124", :alt => @previous_shoe.name), shoe_path(:id => @previous_shoe.id, :scope => params[:scope])) %>
        </li>
      <%- end -%>
	  <li class="current"><%= link_to(image_tag(@shoe.photo_manual_thumb.url, :size => "124x124", :alt => @shoe.name), "#") %></li>
        <%- if @next_shoe.nil? -%>
          <%= render :partial => 'empty_box' %>
        <%- else -%>
          <li>
            <%= link_to(image_tag(@next_shoe.photo_manual_thumb.url, :size => "124x124", :alt => @next_shoe.name), shoe_path(:id => @next_shoe.id, :scope => params[:scope])) %>
          </li>
        <%- end -%>
	</ul>
	<div id="shoe_detail">
		<div id="shoe_photo">
			<%= image_tag(@shoe.photo.url, :alt => @shoe.name) %>
		</div><!-- .shoe_photo -->
		<ul class="catalog_page">
			<li><%= @index %>/<%= @total_shoes %></li>
		</ul><!-- .catalog_page -->
		<ul class="page_navigation">
          <%- unless @next_shoe.nil? -%>
            <li class="right"><%= link_to(image_tag('icon_arrow_black_right.png'), shoe_path(:id => @next_shoe.id, :scope => params[:scope])) %></li>
          <%- end -%>
          <%- unless @previous_shoe.nil? -%>
            <li class="left"><%= link_to(image_tag('icon_arrow_black_left.png'), shoe_path(:id => @previous_shoe.id, :scope => params[:scope])) %></li>
          <%- end -%>
		</ul><!-- .page_navigation -->
		<ul class="zoom_navigation">
			<li id="zoom_in">&nbsp;</li>
			<li id="zoom_out">&nbsp;</li>
		</ul><!-- .zoom_navigation -->
		<ul class="shoe_data">
			<li>Articulo: <span><%= @shoe.article_number %></span></li>
			<li>Talles: <span><%= @shoe.sizes.map{|s|s.number}.join(',') %></span></li>
			<li>Color: <span><%= @shoe.colors.map{|c|c.name}.join(',') %></span></li>
		</ul><!-- .shoe_data -->
	</div><!-- .shoe_detail -->
</section>