<section id="inner_content">
	<ul class="shoe_catalog">
		<li id=""> <!-- ToDO: insert shoe_id -->
			<%= link_to(image_tag('608.jpg', :class => "product_thumb", :size => "124x124", :alt => "shoe.name"), "#") %>
		</li>
		<li id="">
			<%= link_to(image_tag('608.jpg', :class => "product_thumb", :size => "124x124", :alt => "shoe.name"), "#") %>
		</li>
		<li id="">
			<%= link_to(image_tag('608.jpg', :class => "product_thumb", :size => "124x124", :alt => "shoe.name"), "#") %>
		</li>
		<li id="">
			<%= link_to(image_tag('608.jpg', :class => "product_thumb", :size => "124x124", :alt => "shoe.name"), "#") %>
		</li>
		<li id="">
			<%= link_to(image_tag('608.jpg', :class => "product_thumb", :size => "124x124", :alt => "shoe.name"), "#") %>
		</li>
		<li id="">
			<%= link_to(image_tag('608.jpg', :class => "product_thumb", :size => "124x124", :alt => "shoe.name"), "#") %>
		</li>
		<li id="">
			<%= link_to(image_tag('608.jpg', :class => "product_thumb", :size => "124x124", :alt => "shoe.name"), "#") %>
		</li>
		<li id="">
			<%= link_to(image_tag('608.jpg', :class => "product_thumb", :size => "124x124", :alt => "shoe.name"), "#") %>
		</li>
		<li id="">
			<%= link_to(image_tag('608.jpg', :class => "product_thumb", :size => "124x124", :alt => "shoe.name"), "#") %>
		</li>
		<li id="">
			<%= link_to(image_tag('608.jpg', :class => "product_thumb", :size => "124x124", :alt => "shoe.name"), "#") %>
		</li>
		<li id="">
			<%= link_to(image_tag('608.jpg', :class => "product_thumb", :size => "124x124", :alt => "shoe.name"), "#") %>
		</li>
		<li id="">
			<%= link_to(image_tag('608.jpg', :class => "product_thumb", :size => "124x124", :alt => "shoe.name"), "#") %>
		</li>
		<li id="">
			<%= link_to(image_tag('608.jpg', :class => "product_thumb", :size => "124x124", :alt => "shoe.name"), "#") %>
		</li>
		<li id="">
			<%= link_to(image_tag('608.jpg', :class => "product_thumb", :size => "124x124", :alt => "shoe.name"), "#") %>
		</li>
		<li id="">
			<%= link_to(image_tag('608.jpg', :class => "product_thumb", :size => "124x124", :alt => "shoe.name"), "#") %>
		</li>
		<li id="">
			<%= link_to(image_tag('608.jpg', :class => "product_thumb", :size => "124x124", :alt => "shoe.name"), "#") %>
		</li>
		<li id="">
			<%= link_to(image_tag('608.jpg', :class => "product_thumb", :size => "124x124", :alt => "shoe.name"), "#") %>
		</li>
		<li id="">
			<%= link_to(image_tag('608.jpg', :class => "product_thumb", :size => "124x124", :alt => "shoe.name"), "#") %>
		</li>
		<li id="">
			<%= link_to(image_tag('608.jpg', :class => "product_thumb", :size => "124x124", :alt => "shoe.name"), "#") %>
		</li>
	</ul><!-- .shoe_catalog -->
</section>